@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative mb-[1000px] overflow-x-hidden bg-white;
}

@layer components {
  .spacer {
    @apply mx-auto max-w-[1920px] px-6 lg:px-10 2xl:px-20 4xl:px-[195px];
  }
  .spacer-reset {
    @apply mx-0 max-w-none p-0;
  }
  .border-15 {
    @apply border-blue-300/[0.15];
  }
  .border-10 {
    @apply border-blue-300/10;
  }
  .btn-primary {
    @apply flex h-10 items-center gap-2.5 rounded-full bg-blue-500 pl-7 pr-5 text-base text-white transition-colors duration-100 ease-in-out active:bg-[#086AFF];
  }
  .btn-secondary {
    @apply flex h-10 items-center gap-2.5 rounded-full border border-blue-500 bg-white pl-7 pr-5 text-base font-medium text-blue-500 transition-colors duration-100 ease-in-out active:bg-[#EDF4FF];
  }
  .btn-tertiary {
    @apply flex h-10 items-center gap-2.5 rounded-full bg-red-500 pl-7 pr-5 text-base text-white transition-colors duration-100 ease-in-out active:bg-[#F2075C];
  }
}

@media (min-width: 1024px) {
  .hamburger-react {
    @apply hidden;
  }
}

@media (min-width: 480px) {
  .grid-container {
    --grid-layout-gap: 20px;
    --grid-column-count: 3;
    --grid-item--min-width: 350px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc(
      (100% - var(--total-gap-width)) / var(--grid-column-count)
    );

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
    );
    grid-gap: var(--grid-layout-gap);
  }
}
@media (min-width: 1600px) {
  .grid-container {
    --grid-layout-gap: 40px;
  }
}
